.primary {
  color: var(--white);
  text-transform: uppercase;

  backface-visibility: hidden;

  .main {
    display: block;
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: 3.5rem;
    margin-bottom: 1rem;
  }

  .sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
  }
}

.secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    var(--theme-light),
    var(--theme-dark)
  );
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  &:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(var(--black-rgb), 0.2);
  }
}

/* .heading-tertiary {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}  */
