@import '../../sass/abstracts/mixins';

.composition {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 80px);
  gap: 2rem;

  &__photo {
    width: 100%;
    box-shadow: var(--shadow-1);
    border-radius: 2px;

    transition: all .3s;
    outline-offset: 2rem;

    &:hover {
      box-shadow: var(--shadow-5);
    }

    &--p1 {
      grid-row: 1 / 3;

      &:hover {
        transform: translate(-2px, -2px);
      }
    }

    &--p2 {
      grid-row: 3 / 5;

      &:hover {
        transform: translate(-2px, 2px);
      }
    }

    &--p3 {
      grid-row: 2 / 4;

      &:hover {
        transform: translateX(2px);
      }
    }
  }
}
