.container {
  margin-top: -10rem;
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(var(--theme-light-rgb), 0.8),
      rgba(var(--theme-dark-rgb), 0.8)
    ),
    url('../../images/nat-4.jpg');
  background-size: cover;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }


}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--gutter-horizontal);
}

.box {
  background-color: rgba(var(--white-rgb), 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(var(--black-rgb), 0.25);
  transition: transform 0.2s;


  .icon {
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      var(--theme-light),
      var(--theme-dark)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
